celeba_5000/
frames/
FFHQ_pp/
dataset_typeA/
dataset_typeB/
conditions/
conditions_test/
controlnet_typeA/
controlnet_typeB/
generated/
generated_test/
DeepfakeBench/
diffusers/
evaluation/diag/
*.zip
*.mp4
__pycache__/
*.pyc